<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ====== КОНСОЛЬНЫЙ ЛОГЕР (красивый) ====== -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d{HH:mm:ss.SSS}) [%highlight(%-5level)] %green(%logger{36}) - %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- ====== ФАЙЛОВЫЙ ЛОГЕР (JSON для Loki / ELK) ====== -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"my-service"}</customFields>
            <includeMdcKeyName>grpc_method</includeMdcKeyName>
            <includeMdcKeyName>payload_class</includeMdcKeyName>
            <includeMdcKeyName>payload</includeMdcKeyName>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/my-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- ====== КОРНЕВОЙ ЛОГГЕР ====== -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>